{% extends 'base.html' %}
{% set active_page = "index" %}

{% macro nav_link(endpoint, name) %}
    <a class="action" href="{{ url_for(endpoint) }}">{{ name }}</a>
{% endmacro %}

{% block header %}
    <h1>{% block title %}Receipts{% endblock %}</h1>
    {{ nav_link('receipt.create', 'New') }}
{% endblock %}

{% block content %}
    <br />
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Number</th>
          <th>Issue</th>
          <th>Detail</th>
          <th>Property</th>
          <th>Amount</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
    {% for group in receipts|groupby('receiver') %}
      <tbody>
        <tr>
          <td><strong>{{ group.grouper }}</strong></td>
        </tr>
        {% for receipt in group.list|sort(attribute='issue_date', reverse=True) %}
        <tr>
          <td>{{ loop.index }}</td>
          <td><a class="action" href="{{ url_for('receipt.update', id=receipt['id']) }}">{{ receipt['number'] }}</a></td>
          <td>{{ receipt['issue_date'].strftime('%d/%m/%Y') }}</td>
          <td>{{ receipt['concept'] }}</td>
          <td>{{ receipt['property'] }}</td>
          <td class="number">{{ receipt['amount']|float(default=0.0) }}</td>
          {% if receipt['status'] == 'C' %}
            <td>Cancelled</td>
          {% else %}
            <td>Pendant</td>
            <td><a class="action" href="{{ url_for('payment.create', receipt_id=receipt.id, receiver_id=receipt.receiver_id) }}">Pay</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    {% endfor %}
      <tfoot>
        <tr>
          <th colspan="4"></th>
          <th>Total:</th>
          <th class="number">{{ receipts|sum(attribute='amount')|float }}</th>
        </tr>
      </tfoot>
    </table>
{% endblock %}
