{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Add Expense{% endblock %}</h1>
    <a href="{{ url_for('expense.index') }}">Expenses</a>
{% endblock %}

{% block script  %}
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
  $(function() {
    $('#provider').on('change', function() {
      $.getJSON($SCRIPT_ROOT + '/expense/_provider_receipts', {
        person_id: $('select[name="provider"]').val()
      }, function(data) {
            /* refresh receipts drop down */
            var $el = $("#receipt");
            $el.empty();
            $.each(data.result, function(i, obj) {
              $el.append($("<option></option>")
              .attr("value", obj.id).text(obj.concept));
            });
      });
      return false;
    });
  });
</script>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="bill">Bill</label>
        <input name="bill_number" id="bill_number" value="" required>

        <label for="provider">Provider</label>
        <select name="provider" id="provider" required>
          <option value="0">Select provider</option>
          {% for provider in providers %}
          <option value="{{ provider.id }}">{{ provider.name}}</option>
          {% endfor %}
        </select>

        <label for="concept">Service/Product</label>
        <select name="concept" id="concept" required>
          <option value="0">Select concept</option>
          {% for concept in concepts %}
          <option value="{{ concept.id }}">{{ concept.description}}</option>
          {% endfor %}
        </select>

        <label for="amount">Amount</label>
        <input name="amount" id="amount" value="0.0" required>

        <label for="expense_date">Expense date</label> <!-- TODO set default value to today-->
        <input name="expense_date" id="expense_date" required>

        <label for="expense_note">Comments</label>
        <textarea name="expense_note" id="expense_note"></textarea>

        <input type="submit" value="Save">
    </form>
{% endblock %}
