{% extends 'base.html' %}

{% macro nav_link(endpoint, name) %}
    {% if request.endpoint.endswith(endpoint) %}
        <li class="active"><a href="{{ url_for(endpoint) }}">{{ name }}</a></li>
    {% else%}
        <a href="{{ url_for(endpoint) }}">{{ name }}</a>
    {% endif %}
{% endmacro %}

{% block header %}
    <h1>{% block title %}Expenses{% endblock %}</h1>
    {{ nav_link('expense.create', 'New') }}
{% endblock %}

{% block content %}
    {% for expense in expenses %}
            <div>
                <h1>{{ expense['provider'] }}</h1>
                <div class="about">
                    {{ expense['expense_date'].strftime('%Y-%m-%d') }} <a class="action" href="##" title="Edit">{{ expense['receipt_number'] }}</a>
                    {{ expense['product'] }} S/.{{ expense['amount'] }}
                </div>
            </div>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
